* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
  }
  
  body header {
    background: #83c0bd;
    color: rgb(59, 57, 57);
    font-weight: bold;
    padding: 15px;
  }
  
  header {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: transparent;
    transition: all .35s ease;
  }
  
  header h1 {
      font-style: italic;
      color: #111;
  }
  <!-- Apagar essa parte-->
  #perfil {
    display:block;
    margin: 250px 50px;
    font-family: 'Lato', sans-serif;
  }
  
  .profile {
    display:-webkit-box;
    margin: 50px 100px;
    color:black;
  }
  <!-- Apagar essa parte-->
  

  .logo {
    font-weight: 500;
    font-size: 1rem;
    
  }
  
  .cabecalho-link {
    display: flex;
    gap: 3rem;
  }
  
  .cabecalho-link ul {
    display: flex;
  }
  
  .cabecalho-link ul li {
    padding: 20px;
  }
  
  .cabecalho-link a {
    color: #111;
    font-weight: 800;
    transition: 0.3s;
  }
  
  
  .icon span {
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  
  section {
    padding-top: 1rem;
  
  }
  
  #contato {
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: rgb(190, 204, 206);
    padding: 4rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  
  .meio-contato h3 {
    color: black;
    font-size: 23px;
    margin-bottom: 1.0rem;
  }
  
  .meio-contato h5 {
    font-size: 15px;
    font-weight: 300;
    color: rgb(78, 78, 78);
  }
  
  .meio-contato li {
    margin-bottom: 15px;
  }
  
  .meio-contato li a {
    display: block;
    color: rgb(102, 102, 102);
    font-weight: 600;
    transition: all .35s ease;
  }
  
  .ultimo-texto {
    text-align: center;
    background-color: #555;
    color: #fff;
  }

  #fh5co-main {
    margin-top: 170px;
  }